.landingpage {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-right: 2px solid blueviolet;

}
.landingpage h1 {
  font-size: 3rem;
  color:blueviolet;
  margin-bottom: 1rem;
}
.landingpage button {
  border-radius: 0.5rem;
  margin: 2rem 0;
  border-color: blueviolet;
  cursor: pointer;
  transition: background-color 300ms;
}
.landingpage p {
  text-align: left;
}
.landingpage-description {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landingpage-actions {
  display: flex;
  gap: 2rem;
  position: fixed;
  right: 2rem;
  top: 0;
  border-color: blueviolet;
}
* {
  box-sizing: border-box;
}
svg:hover {
  fill: blueviolet;
  cursor: pointer;
}


.modal-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 50px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.centered-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
